[user]
	name = cycleke
	email = cycleke@qq.com

[core]
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	features = decorations line-numbers side-by-side

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[init]
	defaultbranch = master

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
