! general settings

URxvt*termName:         rxvt-256color
URxvt.intensityStyles:  true
URxvt*font:             xft:GoMono Nerd Font:pixelsize=15,xft:PingFang SC:pixelsize=15
URxvt*letterSpace:      -1

URxvt.saveLines:        8192
URxvt.geometry:         125x35
URxvt*scrollTtyOutput:    false
URxvt*scrollWithBuffer:   true
URxvt*scrollTtyKeypress:  true
URxvt.scrollBar:          false
URxvt.internalBorder:     5
URxvt.cursorBlink:        false
URxvt.cursorUnderline:    false
URxvt*skipBuiltinGlyphs:    true

URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-equal:     resize-font:bigger
URxvt.keysym.C-0:      	  resize-font:reset
URxvt.keysym.C-question:  resize-font:show

URxvt.matcher.button:     1
URxvt.url-launcher:       firefox
URxvt.keysym.C-u:         perl:url-select:select_next
URxvt.url-select.launcher: firefox
URxvt.url-select.underline: true

URxvt.keysym.M-s:         perl:keyboard-select:search
URxvt.keysym.M-Escape:    perl:keyboard-select:activate

! URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

! appearance
URxvt*depth:            32
!URxvt*background:      rgba:0000/0000/0000/AAAA
!URxvt*background:      [90]#1F2326
!URxvt*background:       [100]#eceff4
!URxvt*foreground:       #c0b18b
!URxvt.underlineColor:   #4682B4
!URxvt.highlightColor:   #4682B4
!URxvt.throughColor:     Blue
!URxvt*cursorColor:      131920
!URxvt*cursorColor2:     Black
!URxvt*scrollBar:        false
!URxvt*scrollBar_right:  false
URxvt*internalBorder:   2
URxvt*externalBorder:   0
URxvt*borderLess:       false

!URxvt.colorIT:      #87af5f
!URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87af5f

!urxvt*background: [91]#f9f9f9
!urxvt*foreground: #383a42
!urxvt*cursorColor: #d0d0d0
!urxvt*color0: #000000
!urxvt*color1: #E45649
!urxvt*color2: #50A14F
!urxvt*color3: #986801
!urxvt*color4: #4078F2
!urxvt*color5: #A626A4
!urxvt*color6: #0184BC
!urxvt*color7: #A0A1A7
!urxvt*color8: #5c6370
!urxvt*color9: #e06c75
!urxvt*color10: #50A14F
!urxvt*color11: #986801
!urxvt*color12: #4078F2
!urxvt*color13: #A626A4
!urxvt*color14: #0184BC
!urxvt*color15: #ffffff
urxvt*foreground:   #a7a7a7
urxvt*background:   [91]#1e1e1e
urxvt*cursorColor:  #d0d0d0
urxvt*color0:       #1e1e1e
urxvt*color1:       #cf6a4c
urxvt*color2:       #8f9d6a
urxvt*color3:       #f9ee98
urxvt*color4:       #7587a6
urxvt*color5:       #9b859d
urxvt*color6:       #afc4db
urxvt*color7:       #a7a7a7
urxvt*color8:       #5f5a60
urxvt*color9:       #cf6a4c
urxvt*color10:      #8f9d6a
urxvt*color11:      #f9ee98
urxvt*color12:      #7587a6
urxvt*color13:      #9b859d
urxvt*color14:      #afc4db
urxvt*color15:      #ffffff
urxvt*color16:      #cda869
urxvt*color17:      #9b703f
urxvt*color18:      #323537
urxvt*color19:      #464b50
urxvt*color20:      #838184
urxvt*color21:      #c3c3c3

! special
*.foreground:   #a7a7a7
*.background:   #1e1e1e
*.cursorColor:  #d0d0d0

!
! Black
*.color0:      #000000
*.color8:      #555
!
! Red
*.color1:      #b87a7a
*.color9:      #dbbdbd
!
! Green
*.color2:      #7ab87a
*.color10:     #bddbbd
!
! Yellow
*.color3:      #b8b87a
*.color11:     #dbdbbd
!
! Blue
*.color4:      #7a7ab8
*.color12:     #bdbddb
!
*.color5:          #f3c1ff
*.color13:         #dbbddb
!
! Cyan
*.color6:      #7ab8b8
*.color14:     #bddbdb
!
! White
*.color7:      #d9d9d9
*.color15:     #ffffff

! Colors
!*background:   bg
!*foreground:   fg
!*color0:      blk
!*color8:      bblk
!*color1:      red
!*color9:      bred
!*color2:      grn
!*color10:     bgrn
!*color3:      ylw
!*color11:     bylw
!*color4:      blu
!*color12:     bblu
!*color5:      mag
!*color13:     bmag
!*color6:      cyn
!*color14:     bcyn
!*color7:      wht
!*color15: 	   bwht

!--------------------------------------------
! custom DPI
!--------------------------------------------
Xft.dpi: 144
Xft.autohint: false
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 	true
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 16
